.ps-container{
    box-sizing: border-box;
    margin: 75px 25px 0 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    position: relative;
}

.ps-header {
    font-size: 2rem;
}

.ps-input {
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border: none;
    background:#eee;
    font-size: 1.2rem;
}

.ps-intro {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.ps-label {
    font-size: 1.4rem;
}

.ps-description {
    resize: none;
    border: none;
    background: #eee;
    padding: 20px;
    font-family: inherit;
    font-size: 1.2rem;
    outline: none;
    height: 150px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

.ps-description-wrapper {
    margin: 20px 0;
}


.settings-key-wrapper {
    
}

.settings-dialog-title {
    font-weight: bold;
}

.settings-api-label {
    display: inline-block;
    margin-bottom: 15px;
    font-weight: bold;
}


.blur {
    color: transparent;
    text-shadow: 0 0 10px black;
}

@media screen and (max-width: 970px) {
    .ps-container {
        margin: 65px 0 0 0;
    }
}