

.pd-main{
    box-sizing: border-box;
    margin: 75px 25px 0 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pd-section {
    padding: 20px;;
}

.pd-panels{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pd-table-container {
    width: 100%;
    margin: 30px 10px 10px 10px;
    position: relative;;
}

.pd-table-label {
    background: var(--darkest-blue);
    position: absolute;
    left: 0;
    top: -50px;;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    padding: 10px 15px;
}


.avatar-wrapper {
    display: flex;
    align-items: center;
}

.pd-flex-layout {
    display: flex;;
    margin-top: 30px;
}




@media screen and (max-width: 970px) {

    .pd-main {
        margin: 65px 0 0 0;
    }
    .pd-section {
        padding: 0;
    }

    .pd-section:first-child {
        padding: 20px;
    }
    .pd-table-container{
        margin: 30px 0px;
    }
    .pd-flex-layout {
        flex-direction: column;
    }
    
    .pd-table-container:last-child{
    margin-bottom: 75px;
    }
}


@media screen and (max-width:820px) {
   

   
}