.vertical-nav-container {
    position: fixed;
    top: 60px;
    height: 100vh;
    width: 5rem;;
    background: var(--darkest-blue);
    z-index: 19;
    overflow: hidden;
    /* transition: width 100ms linear; */
    border-right: 5px solid #add8e6;
}

.vertical-nav {
    list-style: none;
    padding: 0; margin: 0;
    ;
}

.vert-nav-item:hover {
    background: #327dff;
}

.vert-nav-item {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.vert-nav-link  {
    display: inline-block;
    text-decoration: none;
}

.vert-nav-text {
    display: none;
    ;
}

.menu-icon {
    color: white;
    font-size: 1.3rem;
}


@media only screen and (max-width: 970px) {
    .vertical-nav-container {
        bottom: 0;
        height: unset;
        width: 100vw;
        top: unset;
    }

    .vertical-nav {
        display: flex;
        justify-content: space-around;
    }
    .vert-nav-item {
        width: 100%;
    }
}
