.vt-container {
    box-sizing: border-box;
    margin: 75px 25px 0 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.vt-header {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 20px 20px 50px 20px;
}

.vt-section {
    position: relative;
    border-top: 1px solid lightgray;
    padding: 15px
}

.vt-section-label {
    background: var(--darkest-blue);
    color: white;
    padding: 2px 20px 2px 20px;
    position: absolute;
    left: 0px;

    font-size: 1.3rem;
    top: -20px;
}

.vt-flex-container {
    display: flex;;
}

.vt-th-label, .vt-td-value {
    padding: 10px;
}

.vt-description-wrapper {
    padding: 10px;
    box-sizing: border-box;
}

.vt-smalltext {
    font-size: 0.8rem;
    color: gray;
}

.vt-comments {
    border-left: 1px solid lightgray;
}

.vt-comment-search {
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vt-search-comment:focus {
    box-shadow: 0px 0px 0 3px rgba(37, 110, 255,0.5);
}

.vt-search-comment {
    padding: 10px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding-right: 50px;
    box-sizing: border-box;
    transition: 100ms linear box-shadow;
}


.vt-section-comments {
}

@media screen and (max-width: 970px){
    .vt-container {
        margin: 75px 0 0 0;
    }

    .vt-tr {
        display: flex;
        flex-direction: column;
    }

    .vt-flex-container {
        flex-direction: column;
    }

    .vt-comments {
        margin: 50px 0 100px 0;
    }
    .vt-search-comment {
        width: 50vw;
    }
}

