.vt-container {
    box-sizing: border-box;
    margin: 75px 25px 0 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.vt-header {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 20px 20px 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ;
}

.vt-section {
    position: relative;
    border-top: 1px solid lightgray;
    padding: 15px
}

.vt-flex-col:first-child {
    width: 100%;
    /* Take up all the space, apply a width for a ticket comment */
}

.vt-section-label {
    background: var(--darkest-blue);
    color: white;
    padding: 2px 20px 2px 20px;
    position: absolute;
    left: 0px;

    font-size: 1.3rem;
    top: -20px;
}

.vt-flex-container {
    display: flex;;
}

.vt-th-label, .vt-td-value {
    padding: 10px;
}

.vt-description-wrapper {
    padding: 10px;
    box-sizing: border-box;
}

.vt-smalltext {
    font-size: 0.8rem;
    color: gray;
}

.vt-comments {
    border-left: 1px solid lightgray;
}

.vt-comment-search {
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vt-search-comment:focus {
    box-shadow: 0px 0px 0 3px rgba(37, 110, 255,0.5);
}

.vt-search-comment {
    padding: 10px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding-right: 50px;
    box-sizing: border-box;
    transition: 100ms linear box-shadow;
}


/* ******* For edit mode ****** */

.vt-edit-description, .vt-ticket-change-textarea{
    box-sizing: border-box;
    padding: 20px;
    font-family: inherit;
    transition: 100ms box-shadow ease;
    resize: none;
    outline: none;
    border: none;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;;
}

.vt-edit-description {
    width: 100%;
    height: 150px;
}

.vt-ticket-change-textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0px;
}

.vt-edit-description:focus {
    box-shadow: 0px 0px 0 3px rgba(37, 110, 255,0.5);

}

.vt-submit-changes-container {
    position: fixed;
    bottom: 75px;
    right: 50px;
    z-index: 500;
    ;
}

.vt-submit-changes {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 20px;
    background: var(--darkest-blue);
    border-radius: 30px;
    color: white;
    border: none;
    animation: glow 2000ms linear infinite;
    ;
}

.vt-submit-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.vt-ticket-change-textarea:focus{
    box-shadow: 0px 0px 0 3px rgba(37, 110, 255,0.5);
}


.vt-filter-container {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 100ms linear;
    overflow: hidden;
}

.vt-filter-expandable {
    min-height: 0;
}


.vt-filter-container.expanded{
    grid-template-rows: 1fr;
}


@keyframes glow {
    0% {
        /* background-color: ; */
        box-shadow: 0 0 3px 3px rgba(37, 110, 255,0.5);
    }

    50% {
        box-shadow: 0 0 3px 10px rgba(37, 110, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 3px 3px rgba(37, 110, 255, 0.5);
    }
}


@media screen and (max-width: 970px){
    .vt-container {
        margin: 75px 0 0 0;
    }
}

@media screen and (max-width: 1115px) {
    .vt-tr {
        display: flex;
        flex-direction: column;
    }

    .vt-flex-container {
        flex-direction: column;
    }

    .vt-comments {
        margin: 50px 0 100px 0;
    }
    .vt-search-comment {
        width: 50vw;
    }
}

