.horizontal-main {
  position: fixed;
  width: 100%;
  background-color: var(--darkest-blue);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 5px solid lightblue;
}

.horizontal-nav-content {
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 0;
    ;
}

.horizontal-nav-profile-link > * {
    margin: 0px 10px;
}

.horizontal-nav-profile-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.horizontal-nav-item {
    margin: 0px 20px;
    display: flex;;
    align-items: center;
}

.nav-user-text {
    font-weight: bold;
    color: white;
}

.icon-container {
    position: relative;
}

.horizontal-icon  {
    color: white;
    font-size: 1.5em;
    cursor: pointer;

}

.nav-down-icon {
    color: white;
    font-size: 1.2em;
}

.horizontal-user-profile {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.alert-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

