.projects-container {
    height: 90vh;
    width: 100%;
    display: flex;;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-welcome-wrapper {
    background: #eee;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;;
    font-size: 2em;
    align-self: flex-start;
    margin-left: 10vw;
}

.projects-container-wrapper {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
    width: 90%;
    position: relative;
}





.project-table-header {
    padding: 10px;
    background: var(--darkest-blue);
    color: white;
    font-size: 1.5em;
    width: 90%;
    position: absolute;
    
    /* border-radius: 20px; */
    margin: 0 auto;
    top: -30px;
    left: 0px;
    right: 0px;
    
}

.projects-tr {
    overflow: hidden;
}

.projects-tr:hover .projects-td {
    background: #eee;
}

.projects-th {
    padding: 40px 20px 20px 20px;
    text-align: left;
    font-size: 1.3em;
}

.projects-td {
    padding: 20px;
    text-align: left;
    transition: 100ms linear background;
    cursor: pointer;
    font-weight: 700;
}


.projects-tr:not(.projects-tr:last-child) .projects-td{
    border-bottom: 2px solid #eee;;
}


.projects-table {
    width: 100%;
}




@media screen and (max-width: 800px) {

    .projects-container-wrapper {
        width: 100%;
    }
}