

.pm-form-section {
    background: white;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 10px;
    max-height: 800px;
    position: relative;
    overflow-y: auto;
    height: unset;
}

.pm-form-section::-webkit-scrollbar {
    display: none;
}

.pm-form-section>* {padding: 0px}


.pm-title {
    font-size: 2.5rem;
    border-bottom: 2px solid lightgray;
    margin: 10px 0px;
    padding: 20px;
    text-align: center;;
}



.pm-intro {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.pm-section {
    padding-top: 20px;;
}

.pm-field {
    margin-bottom:10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 100%;
}


.pm-input {
    background: #eee;
    padding: 10px;
    padding-right: 40px;
    transition: box-shadow 100ms linear;
    margin-top: 10px;

}

.pm-input:focus, .user-search:focus{
    box-shadow: 0 0 0 3px rgba(63, 125, 239, 0.6);
}


.pm-field-wrapper>* {
    display: block;
}

.pm-field-wrapper {
    text-align: left;
    width: 60%;
    margin: 0 auto;
    position: relative;;
}

.input-icon {
    position: absolute;
    color: gray;
}

.pm-add-user-icon {
    top: 10px;
    right: 10px;
    ;
}

.pm-name-icon {
    top: 40px;
    right: 10px;;
}

.user-search {
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    border: 1px solid gray;
    padding-right: 40px;
    margin-top: 10px;
}

.results-list {
    max-height: 200px;
    overflow-y: auto;;
}

.pm-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid gray;
    border-top: none;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    z-index: 1;;
}


.results-title {
    z-index: 1;
    box-sizing: border-box;
    display: block;
    background: white;
    padding: 3px;
    width: 100%;;
}

.pm-role-select {
    padding: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    ;
}

#_pm-textarea {
    resize: none;
    background: #eee;
    margin-top: 10px;
    padding: 20px;
    height: 100px;
    font-family: inherit;
    ;
}

.pm-field-wrapper.textarea-wrapper {
    width: 80%;
    padding: 20px;
    position: relative;
}


.word-counter {
    position: absolute;
    color: gray;
    font-size: 0.7rem;
    right: 20px;
    bottom: 10px;
    ;
}


.pm-section.pm-create {
    text-align: center;
    padding: 20px;
}

.pm-submit-btn {
    background: var(--darkest-blue);
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 1.2rem;
    cursor: pointer;
    ;
}

.pm-submit-btn:hover {
    background: rgb(0,89,225);
}

.pm-no-members {
    text-align: center;
    background-color: #eee;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}



/*
 fix input responsivity

*/
@media screen and (max-width: 550px) {
    .pm-form-section{
        min-width: unset;
        width: 100%;
    }
}


@media screen and (max-height: 750px) {
    .pm-form-section {
        height: 100%;
        border-radius: 0;
    }

   
}

