.projectHome{position: relative;}

.section {margin-top: 10vh;}

.projects-container {
    overflow-x: auto;
    max-height: 475px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.project-navigation {
    box-shadow: rgba(14,30,37,0.12) 0px 2px 4px 0px, rgba(14,30,37,0.32) 0px 2px 16px 0px;
    width: 90vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5em;
    margin-bottom: 50px;

}

.project-nav {
    text-align: center;
}


.project-nav:last-child button {
    outline: none;
    border: none;
    padding: 10px;
    color: white;
    background: var(--darkest-blue);
    font-size: 1.2rem;
    cursor: pointer;

}

.search-project {
    padding: 15px;
    border: none;
    outline: none;
    background: #eee;
    margin-right: 10px;
    border-radius: 10px;
    padding-right: 50px;
    max-width: 200px;
    box-sizing: border-box;
}



.project-nav:last-child {
    position: relative;
}


.project-nav:last-child button:hover {
    background: #2675ff;
}


.project-search-icon {
    position: absolute;
    right: 30px;
    top: 15px;
    color: gray;
    font-size: 1.3rem;;
}

.project-content-wrapper {
    width: 90vw;
    margin: 0 auto;
}

.project-table {
    position: relative;
    width: 100%;
}

.project-table-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.pt-row-header {
    background: var(--darkest-blue);
    color: white;
}

.pt-item {
    padding: 20px 20px;
    text-align: left;
}

tbody.pt-item:last-child{
    display: flex;;
}


.pt-item:not(.pt-item:first-child) {
    text-align: center;
}

.pt-row {
    transition: 100ms linear background;
    cursor: pointer;
}

 .pt-item {
    border-bottom: 2px solid #eee;
    white-space: nowrap;

}

.pt-row:hover {
    background: #eee;;
}

/* pagination */

.pt-pagination {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background: var(--darkest-blue);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.pagination-item {
    display: flex;;
    align-items: center;
    margin-left: 10px;
}

.pagination-item > * {
    margin-left: 20px;
}

#_page-selector {
    outline: none;
    border: none;
    padding: 5px;
    font-size: 1.2em;
}

.pt-empty {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 880px) {
    .project-content-wrapper {
        width: 100%;
    }

    .pt-pagination, .projects-container {
        border-radius: 0;
    }
    .pt-pagination {
        justify-content: space-between;
    }
}

@media screen and (max-width:730px){
    .project-navigation{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .project-nav:last-child {
        display: flex;;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .project-nav {
        margin: 10px 0px
    }

    .project-nav:last-child >* {
        margin-bottom: 20px;
    }

    .project-nav:last-child button {
        font-size: 0.9rem;
        padding: 10px;
    }


    .search-project {
        max-width: unset;
        width: 90vw;
        margin-right: 0;
    }

    .project-nav:last-child button {
        width: 90vw;
    }
}

@media screen and (max-width: 450px) {
    .pt-pagination {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pagination-item:last-child {
        margin-top: 20px;
    }
    
  
}